<ion-header>
  <ion-toolbar>
    <ion-title>Rangliste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rangliste</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <div *ngFor="let rank of ranks.ranklist;let i = index">
        <ion-item>
          <ion-label [style.background-color]="i == 0 ? 'gold' : i == 1 ? 'silver' : i == 2 ? 'brown' : ''">{{i+1}}.</ion-label>
          <ion-label [style.background-color]="i == 0 ? 'gold' : i == 1 ? 'silver' : i == 2 ? 'brown' : ''">{{rank.name}}</ion-label>
          <ion-label [style.background-color]="i == 0 ? 'gold' : i == 1 ? 'silver' : i == 2 ? 'brown' : ''">{{rank.price | currency:'EUR'}}</ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <navbar></navbar>
  </ion-toolbar>
</ion-footer>